extends ../layouts/header

block content 

  section.section 
    .container
      h2.title Items for #{category.name}  
      div.columns.mt-t.is-8.is-variable.is-centered.is-multiline
          each item in item_list
            div.column.is-half
              div.card.my-5
                .card-image 
                   figure.image.is-1by10 
                    img(src=item.imgUrl, alt=item.description)

                .card-content 
                  .content
                    p.title.is-4 #{item.name}  
                    p.subtitle #{item.description}
                    p.has-text-grey Created at: #{item.createdAt}
                    if category.createdAt !== category.updatedAt
                      p.has-text-grey Updated at: #{catitemegory.updatedAt}
                footer.card-footer
                  a(href=item.url).card-footer-item.has-text-primary View  
                  a(href=`${item.url}/update`).card-footer-item.has-text-info Edit 
                  a(href=`${item.url}/delete`).card-footer-item.has-text-danger Delete
          else 
            article.message.is-info 
              .message-header
                p Info 
              .message-body
                p Looks like there are no items at the moment.

