extends ../layouts/header

block content 
  .section.pt-4.pb-0
    nav.breadcrumb.has-arrow-separator
      ul.container
        li
          a(href='/').has-text-grey Home 

        li.is-active
          a Categories

  section.section 
    .container
      h2.title All Categories 
        a(href="/category/create").has-text-primary + 
      div.columns.mt-t.is-8.is-variable.is-centered
        each category in category_list
          div.column 
            div.card.my-5 
              header.card-header 
                p.card.header.title.px-2.py-2 #{category.name}
              .card-content 
                .content  
                  p.subtitle #{category.description}
                  p.has-text-grey Created at: #{category.createdAt}
                  if category.createdAt !== category.updatedAt
                    p.has-text-grey Updated at: #{category.updatedAt}
              footer.card-footer
                a(href=category.url).card-footer-item.has-text-primary View  
                a(href=`${category.url}/update`).card-footer-item.has-text-info Edit 
                a(href=`${category.url}/delete`).card-footer-item.has-text-danger Delete
        else 
          article.message.is-info 
            .message-header
              p Info 
            .message-body
              p Looks like there are no categories at the moment.



  
